@media only screen and (max-width: 60rem) {
  .slider-control-centerleft {
    display: none;
  }
  .slider-control-centerright {
    display: none;
  }
}

div.ui.compact.fluid.stackable.menu {
  overflow-x: scroll !important;
}
/* 
blockquote {
  position: relative;
  padding-left: 1em;
  border-left: 0.2em solid #fbde4b;
  font-size: 2.4em;
  line-height: 1.5em;
  font-weight: 100;
}
.ludwig:before,
.ludwig:after {
  content: '\201C';
  font-family: 'Sanchez';
  color: #fbde4b;
}
.ludwig:after {
  content: '\201D';
} */

blockquote p {
  text-align: center;
  font-size: 1.25rem;
}

blockquote figcaption {
  text-align: right;
}
