@media only screen and (max-width: 60rem) {
  .slider-control-centerleft {
    display: none;
  }
  .slider-control-centerright {
    display: none;
  }
}

@media (max-width: 62.5em) {
  div.ui.compact.fluid.stackable.menu {
    overflow-x: scroll !important;
  }
}

blockquote p {
  text-align: center;
  font-size: 1.25rem;
}

blockquote figcaption {
  text-align: right;
}
